.model-box{
    min-width: 350px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}
.create{
    float: right;
    margin-top: 15px;
}
.cancel{
    float: left;
    margin-top: 15px;
}
.button.is-primary{
    background-color: #543c52 !important;
}
.title{
    color: #543c52;
}