//Main global styles

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$darkred: #361d32;
$brightred: #f55951;
$darkpurple: #543c52;
$is-primary: #543c52;

$light: #a5a1a1;

//Update bulmas global variables

$familty-sans-serif: "Nunito", sans-serif;
$primary: $darkred;
$link: $darkpurple;

//update bulmas component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

//custom global styles

html {
    background: linear-gradient(to right top, $darkred, $brightred);
}

html, body{
    height: 100%;
}


.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}